<drag-and-drop
  :enabled="!landingVisible && !fileUploadDialog"
  v-on:drop="openFileList"
>
  <template v-slot:default="{ dragHover }">
    <v-app>
      <v-navigation-drawer
        v-model="controlsDrawer"
        :clipped="$vuetify.breakpoint.mdAndUp"
        :mobile-breakpoint="$vuetify.breakpoint.thresholds.sm"
        app
        fixed
        disable-resize-watcher
        touchless
        width="300"
      >
        <controls-drawer />
      </v-navigation-drawer>
      <v-content
        :id="$style.appContent"
        :style="{
          position: landingVisible ? 'initial' : 'fixed',
        }"
      >
        <landing
          v-if="landingVisible"
          key="if-landing"
          v-on:open="showFileUpload"
          v-on:open-urls="autoLoadRemotes"
          v-on:open-files="openFileList"
        />
        <layout-view v-else key="if-landing" />
      </v-content>

      <v-navigation-drawer
        v-model="screenshotsDrawer"
        :stateless="screenshotsDrawerStateless"
        app
        right
        temporary
        touchless
        width="300"
      >
        <screenshots
          v-on:screenshot-count="screenshotCount = $event"
          v-on:close="screenshotsDrawer = false"
        />
      </v-navigation-drawer>

      <!-- file loader -->
      <file-loader v-model="fileUploadDialog" v-on:load="doneLoadingFiles" />

      <v-dialog v-model="autoloadDialog" persistent width="60%">
        <v-card class="pa-4">
          <v-card-title
            class="justify-center text-center title black--text pv-break-word"
          >
            Loading {{ autoloadLabel }}&nbsp;
            <span v-if="fileLoadingProgress === 1"> (reading...) </span>
            <span v-else-if="fileLoadingProgress !== Infinity">
              ({{ Math.round(fileLoadingProgress * 100) }}%)
            </span>
          </v-card-title>
          <v-card-text>
            <v-progress-linear
              :indeterminate="fileLoadingProgress === Infinity"
              :value="fileLoadingProgress * 100"
            />
          </v-card-text>
        </v-card>
      </v-dialog>

      <!-- state generator -->
      <state-file-generator />

      <!-- browser issues -->
      <browser-issues />

      <!-- about dialog -->
      <component :is="dialogType" v-model="aboutDialog" max-width="50%">
        <about-box v-on:close="aboutDialog = false" />
      </component>

      <!-- error dialog-->
      <component :is="dialogType" v-model="errorDialog" max-width="50%">
        <error-box
          :errors="errors"
          v-on:close="errorDialog = false"
          v-on:clear="errors = []"
        />
      </component>

      <v-snackbar
        :value="!!globalSingleNotification"
        @input="globalSingleNotification = ''"
        bottom
        left
        :timeout="notifyPermanent ? 0 : 6000"
        @click="globalSingleNotification = ''"
      >
        {{ globalSingleNotification }}
        <v-btn text>close</v-btn>
      </v-snackbar>

      <!-- portal mount point -->
      <div id="app-portal-mount" />
    </v-app>
  </template>
</drag-and-drop>
